extends layout

block content
  #mobile_viewing.container
    h1.text-center.text-white.mt-3 Список Команды
    if user
      if user.username == 'Olzhas'
        .row
          .container
            .col-sm-12.mt-4
              h3.text-white Добавить Новую Команду 
              h6.text-white Перейдите по кнопке ниже
            .col-sm-12
              a.btn.btn-outline-light(href='/registre') Добавить Новую Команду 
    .row
      .col-sm-12.mt-3
        .container
          form(mehtod='GET', action='/lists')
            .input-group
              input.form-control(name='search', type='text', placeholder='Найти свою команду...')
              input.input-group-append.btn.btn-primary(type='submit', value='Search')
    each list, i in lists
      .row
        .col-sm-12.mt-3
          .card
            .card-body
              .row
                .col-xs-1
                  p.font-weight-bold.border-bottom= i + 1 + '.'
                .col-xs-6
                  h5.ml-2.border-bottom= list.team_name
                .col-xs-5
                  p.badge.badge-primary.mt-1.ml-2= list.first_name + ' ' + list.second_name
              .row
                .col-xs-6.text-left
                  .list-group.list-group-flush.ml-4
                    .list-group-item Игры
                    .list-group-item Победа
                    .list-group-item Ничья 
                    .list-group-item Проигрыш
                    .list-group-item Забитые
                    .list-group-item Пропушенные
                    .list-group-item Очко
                .col-xs-3.text-left
                  .list-group.list-group-flush
                    .list-group-item= list.games
                    .list-group-item= list.wins
                    .list-group-item= list.draw
                    .list-group-item= list.loss
                    .list-group-item= list.scored_goal
                    .list-group-item= list.missed_goal
                    .list-group-item= list.point
                if user
                  if user.username == 'Olzhas'
                    .col-xs-5
                      form(method='POST', action='/lists/' + list._id)
                        .list-group.list-group-flush
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='games', type='number', value= list.games)
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='wins', type='number', value= list.wins)
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='draw', type='number', value= list.draw)
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='loss', type='number', value= list.loss)
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='scored_goal', type='number', value= list.scored_goal)
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='missed_goal', type='number', value= list.missed_goal)
                          .list-group-item
                            input.teams_list.form-control.form-control-sm(name='point', type='number', value= list.point)
                        .row
                          .col-xs-6
                            input.btn.btn-primary.btn-sm.mt-2.ml-4(type='submit', value='Submit')  
        if user
          if user.username == 'Olzhas'
            .col-sm-12
              a.btn.btn-warning.btn-block.btn-sm.mt-3.remove-team(href='#', data-id=list._id) Delete                
                            style.
                              .teams_list{
                                width: 50px!important;
                                height: 24px!important;
                              }
  #desktop_viewing.container
    if user
      if user.username == 'Olzhas'
        .row
          .container.mt-4.ml-5
            .col-lg-12
              h3.text-white Добавить Новую Команду 
              h6.text-white Перейдите по кнопке ниже
            .col-lg-12
              a.btn.btn-outline-light(href='/registre') Добавить Новую Команду
    .row
      .container
        h1.text-center.text-white.mt-3 Список Команды
        .col-lg-6.offset-lg-3.mt-3
          .container
            form(mehtod='GET', action='/lists')
              .input-group
                input.form-control(name='search', type='text', placeholder='Найти свою команду...')
                input.input-group-append.btn.btn-primary(type='submit', value='Search')
        .col-lg-12.text-white.ml-5.mt-3
          .row
            .col-lg-1.bg-dark.pt-3  
              p №
            .col-lg-2.bg-dark.pt-3
              p Команды
            .col-lg-1.bg-dark.pt-3
              p И
            .col-lg-1.bg-dark.pt-3
              p П
            .col-lg-1.bg-dark.pt-3
              p Н
            .col-lg-1.bg-dark.pt-3
              p П
            .col-lg-1.bg-dark.pt-3
              p З
            .col-lg-1.bg-dark.pt-3
              p П
            .col-lg-1.bg-dark.pt-3
              p Очко
    each list, i in lists
      .row
        .container
          .col-lg-12.text-white.ml-5
            .row
              .col-lg-1.border-bottom.border-top
                p= i+1+"." 
              .col-lg-2.border-bottom.border-top
                span= list.team_name 
                p.badge.badge-primary= list.first_name + ' ' + list.second_name
              .col-lg-1.border-bottom.border-top
                p.mt-3= list.games
              .col-lg-1.border-bottom.border-top
                p.mt-3.list_wins= list.wins
              .col-lg-1.border-bottom.border-top
                p.mt-3= list.draw
              .col-lg-1.border-bottom.border-top
                p.mt-3= list.loss
              .col-lg-1.border-bottom.border-top
                p.mt-3= list.scored_goal
              .col-lg-1.border-bottom.border-top
                p.mt-3= list.missed_goal
              .col-lg-1.border-bottom.border-top
                p.mt-3= list.point
              if user
                if user.username == 'Olzhas'
                  .col-lg-1
                    a.btn.btn-warning.btn-sm.remove-team.mt-3(href='#', data-id= list._id) Delete
      if user
        if user.username == 'Olzhas'
          .row
            .container
              .col-lg-12.ml-5.mt-2
                form(method='POST', action='/lists/' + list._id)
                  .row
                    .col-lg-1.offset-lg-3
                      input.form-control.form-control-sm(autofocus,name='games', type='number', value= list.games)
                    .col-lg-1
                      input.form-control.form-control-sm(name='wins', type='number', value= list.wins)
                    .col-lg-1
                      input.form-control.form-control-sm(name='draw', type='number', value= list.draw)
                    .col-lg-1
                      input.form-control.form-control-sm(name='loss', type='number', value= list.loss)
                    .col-lg-1
                      input.form-control.form-control-sm(name='scored_goal', type='number', value= list.scored_goal)
                    .col-lg-1
                      input.form-control.form-control-sm(name='missed_goal', type='number', value= list.missed_goal)
                    .col-lg-1
                      input.form-control.form-control-sm(name='point', type='number', value= list.point)
                    .col-lg-1
                      input.btn.btn-primary.btn-sm(type='submit', value='Submit')
