extends layout  

block content
  .container
    .row
      #first_match_block.col-lg-12.col-sm-12
        .container
          h3.mt-4.text-light 
            u Матчи с Апреля по - Июнь, 2019 года
        if user 
          if user.username == 'Olzhas'
            form(method='POST', action='/matches')
              .row
                .col-lg-4.col-sm-12
                  .container
                    .form-group
                      label Первая Команда
                      input.form-control(name='first_team_select', type='text', placeholder='Barcelona...')
                .col-lg-4.col-sm-12
                  .container
                    .form-group
                      label Время Матча
                      input.form-control(name='match_date', type='text', placeholder='18:00, 21.04.19')
                .col-lg-4.col-sm-12
                  .container
                    .form-group
                      label Вторая Команда
                      input.form-control(name='second_team_select', type='text', placeholder='Real Madrid...')
                .col-lg-12.col-sm-12
                  .container
                    input.btn.btn-dark.btn-block(type='submit', value='SUBMIT')
      #second_match_block.col-lg-12.col-sm-12.mt-4          
        .container
          h4.text-center.text-white Team VS Team 
          each match, i in matches
            .row
              .col-lg-6.offset-lg-3.col-sm-12.mt-2
                .card
                  .card-body
                    .row
                      .col-lg-12.col-sm-12
                        .row
                          .col-lg-12.text-left
                            span.font-weight-light Статус:
                            span.badge.badge-primary.ml-1= match.match_status
                          .col-lg-6.offset-lg-3.text-center.mt-2
                            span.badge.badge-dark ВРЕМЯ МАТЧА:
                          .col-lg-6.offset-lg-3.mt-2.text-center
                            span.badge.badge-warning= match.match_date
                      .col-lg-5.col-sm-12.mt-2.text-center
                        span.font-weight-bold= match.first_team_select
                      .col-lg-2.col-sm-12.mt-2.text-center
                        span.font-italic VS
                      .col-lg-5.col-sm-12.mt-2.text-center
                        span.font-weight-bold= match.second_team_select
                      .col-lg-12.col-sm-12.text-center.mt-2.border-top
                        span.font-weight-light Счет Матча
                        .row
                          .col-lg-4
                            span.font-weight-bold= match.left_sight
                          .col-lg-4
                            span.font-weight-bold :
                          .col-lg-4
                            span.font-weight-bold= match.right_sight
                      if user
                        if user.username == 'Olzhas'
                          .col-lg-12.col-xs-12.mt-3
                            form(method='POST', action='/matches/' + match._id)
                              .row
                                .col-lg-6.mt-2
                                  input.form-control.form-control-sm.left-sight(type='text', name='left_sight', placeholder='Команда слева', value= match.left_sight)
                                .col-lg-6.mt-2
                                  input.form-control.form-control-sm.right-sight(type='text', name='right_sight', placeholder='Команда справа', value= match.right_sight)
                                .col-lg-12.mt-2
                                  input.form-control.form-control-sm(type='text', name='match_status', placeholder='Напишите статус Матча')
                                .col-lg-12.mt-2
                                  input.btn.btn-primary.btn-sm.btn-block(type='submit', value='Submit')
                          
                        
                      if user
                        if user.username == 'Olzhas'
                          .col-lg-12.col-sm-12
                            a.mt-2.btn.btn-sm.btn-danger.btn-block.delete-match(href='#', data-id= match._id) DELETE
  style.
    .form-group label {
      color: white;
    }

    
